<html>
    <head>

    </head>
    <body>
        <h1>Home Page</h1>
        <center>
            <table border="1">
                <tr>
                    <td>Name</td>
                    <td>Dept</td>
                    <td>University</td>
                </tr>
                <tr>
                    <td>Mehrab Evan</td>
                    <td>CSE</td>
                    <td>IIUC</td>
                </tr>
            </table>
            <a href="/GoToLogin"><button>Login</button></a>
        </center>

    </body>
</html>